[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "example"
version = "0.1.0"
description = "An example project."
readme = "README.md"
requires-python = ">=3.8"
dependencies = [
  "requests"
]
